[Desktop Entry]
Encoding=UTF-8
Name=Link to (37) Gaussian Elimination with Partial Pivoting - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=euIXYdyjlqo
Icon=text-html
