[Desktop Entry]
Encoding=UTF-8
Name=Link to Gauss Elimination with Partial Pivoting
Type=Link
URL=https://web.mit.edu/10.001/Web/Course_Notes/GaussElimPivoting.html
Icon=text-html
