[Desktop Entry]
Encoding=UTF-8
Name=Link to (e^sin^3(x)) + (x^6) - 2 * (x^4) - (x^3) - 1= 0 - Wolfram|Alpha
Type=Link
URL=https://www.wolframalpha.com/input/?i=%28e%5Esin%5E3%28x%29%29+%2B+%28x%5E6%29+-+2+*+%28x%5E4%29+-+%28x%5E3%29+-+1%3D+0+
Icon=text-html
