[Desktop Entry]
Encoding=UTF-8
Name=Link to 54 * (x^6) + 45 * (x^5) - 102 * (x^4) - 69 * (x^3) + 35 * (x^2) + 16 * (x) - 4 - Wolfram|Alpha
Type=Link
URL=https://www.wolframalpha.com/input/?i=54+*+%28x%5E6%29+%2B+45+*+%28x%5E5%29+-+102+*+%28x%5E4%29+-+69+*+%28x%5E3%29+%2B+35+*+%28x%5E2%29+%2B+16+*+%28x%29+-+4
Icon=text-html
